NEST_PORT=3004
NODE_ENV=development
TYPEORM_SYNC=true

MYSQL_PORT=3306
MYSQL_DATABASE=Users_Credentials
MYSQL_ROOT_PASS=change_me_mysql_root_pass
MYSQL_USER=creadentials_admin
MYSQL_PASS=change_me_mysql_pass
MYSQL_HOST=mysql

ACCESS_SECRET=change_me_jwt_access_secret
REFRESH_SECRET=change_me_jwt_refresh_secret
ACCESS_EXP=15m
REFRESH_EXP=7d

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_admin_password

NATS_URL=nats://dev_nats_token@nats:4222
