NEST_PORT=3000
NODE_ENV=development
ENABLE_SEED=false

MONGO_PORT=27017
MONGO_DATABASE=nowhere
MONGO_ROOT_USER=root
MONGO_ROOT_PASS=change_me_mongo_root_pass
MONGO_HOST=mongodb

MAX_DISTANCE_NEAR=5000
MIN_DISTANCE_SAME_USER=500
SNAP_DISAPPEAR_TIME=1

ACCESS_SECRET=change_me_jwt_access_secret
GATEWAY_URL=http://localhost:3005
CORS_ORIGIN=http://localhost:3000,http://localhost:5173
NATS_URL=nats://dev_nats_token@nats:4222
