NODE_ENV=development
NATS_TOKEN=dev_nats_token
REDIS_PASSWORD=dev_redis_password
MYSQL_ROOT_PASS=change_me_mysql_root_pass
MONGO_ROOT_USER=root
MONGO_ROOT_PASS=change_me_mongo_root_pass
MINIO_ROOT_USER=minio_admin_user
MINIO_ROOT_PASSWORD=change_me_minio_password
ENABLE_SEED=false
CORS_ORIGIN=http://localhost:3000,http://localhost:5173
