services:
  mongodb:
    image: mongo
    restart: always
    env_file:
      - ./apps/snaps/.env
    ports:
      - ${MONGO_PORT}:${MONGO_PORT}
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - mongo-data:/data/db

  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    container_name: minio-local

    ports:
      - "9000:9000" #(S3 API)
      - "9001:9001" #(Web Console)

    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin

    volumes:
      - minio-data:/data
  mysql:
    image: mysql:9.4.0
    restart: always
    env_file:
      - ./apps/users/.env
    ports:
      - 3307:3306
    volumes:
      - ./mysql_init:/docker-entrypoint-initdb.d
      - sql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root

  nowhere-snaps:
    env_file:
      - ./apps/snaps/.env
    container_name: nest-dev
    build:
      context: .
      dockerfile: ./apps/snaps/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
    volumes:
      - ./apps/snaps:/usr/src/apps/snaps
      - ./libs:/usr/src/libs
      - ./uploads:/usr/src/apps/uploads
      - /usr/src/node_modules
    depends_on:
      - mongodb

    ports:
      - "3000:3000"
    command: pnpm nx start snaps

  nowhere-users:
    container_name: nowhere-users-dev
    env_file:
      - ./apps/users/.env
    build:
      context: .
      dockerfile: ./apps/users/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
    volumes:
      - ./apps/users:/usr/src/apps/users
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start users
    ports:
      - "3001:3001"
      - "50051:50051"
    depends_on:
      - mysql

  authentication:
    container_name: nowhere-authentication-dev
    env_file:
      - ./apps/authentication/.env
    build:
      context: .
      dockerfile: ./apps/authentication/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
      - PORT=3004
    volumes:
      - ./apps/authentication:/usr/src/apps/authentication
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start authentication
    ports:
      - "3004:3004"
      - "50052:50052"

  nowhere-gateway:
    container_name: nowhere-gateway-dev
    env_file:
      - ./apps/gateway/.env
    build:
      context: .
      dockerfile: ./apps/gateway/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
      - PORT=3005
    volumes:
      - ./apps/gateway:/usr/src/apps/gateway
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start gateway
    ports:
      - "3005:3005"

  nowhere-storage:
    env_file:
      - ./apps/storage/.env
    container_name: nowhere-storage-dev

    build:
      context: .
      dockerfile: ./apps/storage/Dockerfile
      target: dev
    volumes:
      - ./apps/storage:/usr/src/apps/storage
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start storage
    ports:
      - "3002:3002"
      - "50053:50052"

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
  mongo-data:
  minio-data:
  sql_data:
