services:
  nowhere-snaps:
    env_file:
      - ./apps/snaps/.env
    container_name: nest-dev
    build:
      context: .
      dockerfile: ./apps/snaps/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
    volumes:
      - ./apps/snaps:/usr/src/apps/snaps
      - ./libs:/usr/src/libs
      - ./uploads:/usr/src/apps/uploads
      - /usr/src/node_modules

    ports:
      - "3000:3000"
    command: pnpm nx start snaps

  nowhere-auth:
    container_name: nowhere-auth-dev
    env_file:
      - ./apps/auth/.env
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
    volumes:
      - ./apps/auth:/usr/src/apps/auth
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start auth
    ports:
      - "3001:3001"
      - "50051:50051"

  nowhere-storage:
    env_file:
      - ./apps/storage/.env
    container_name: nowhere-storage-dev

    build:
      context: .
      dockerfile: ./apps/storage/Dockerfile
      target: dev
    volumes:
      - ./apps/storage:/usr/src/apps/storage
      - ./libs:/usr/src/libs
      - /usr/src/node_modules
    command: pnpm nx start storage
    ports:
      - "3002:3002"
      - "50052:50051"

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
