NEST_PORT=3002
NODE_ENV=development
STORAGE_PROVIDER=aws

REDIS_URL=redis://:dev_redis_password@redis:6379
CACHE_TTL=86340
NATS_URL=nats://dev_nats_token@nats:4222

AWS_BUCKET=mysnapsbucket
AWS_ACCESS_KEY_ID=change_me_access_key_id
AWS_SECRET_ACCESS_KEY=change_me_secret_access_key
AWS_ENDPOINT_URL=http://minio-local:9000
AWS_REGION=us-east-1
