NEST_PORT=3001
NODE_ENV=development
TYPEORM_SYNC=true

MYSQL_PORT=3306
MYSQL_DATABASE=Users_Info
MYSQL_ROOT_PASS=change_me_mysql_root_pass
MYSQL_USER=info_admin
MYSQL_PASS=change_me_mysql_pass
MYSQL_HOST=mysql

NATS_URL=nats://dev_nats_token@nats:4222
